<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2f4e658f70994e77853083955ebef490 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_2f4e658f70994e77853083955ebef490" ></div>
        
</body>
<script>    
    
            var map_2f4e658f70994e77853083955ebef490 = L.map(
                "map_2f4e658f70994e77853083955ebef490",
                {
                    center: [29.828061350000002, -95.73345169999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3055b0a344d6490ebd6c867392ebd7b6 = L.tileLayer(
                "https://mt1.google.com/vt/lyrs=m\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "Google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 8, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2f4e658f70994e77853083955ebef490);
        
    
            L.control.fullscreen(
                {"forceSeparateButton": false, "position": "topleft", "title": "Full Screen", "titleCancel": "Exit Full Screen"}
            ).addTo(map_2f4e658f70994e77853083955ebef490);
        
    
            var marker_cluster_2aa7bea422e94ebab3ea52d2eea88991 = L.markerClusterGroup(
                {}
            );
            map_2f4e658f70994e77853083955ebef490.addLayer(marker_cluster_2aa7bea422e94ebab3ea52d2eea88991);
        
    
            var marker_1c612dc837024409a68401369a52f95a = L.marker(
                [29.8557063, -95.6676114],
                {}
            ).addTo(marker_cluster_2aa7bea422e94ebab3ea52d2eea88991);
        
    
            var icon_195f90afae074158a5b0dd425a400753 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1c612dc837024409a68401369a52f95a.setIcon(icon_195f90afae074158a5b0dd425a400753);
        
    
        var popup_eb6f3ad0e6cf46a48920947b25289b42 = L.popup({"maxWidth": "100%"});

        
            var html_ca3f851d1a3b47a3b3676c5f1db09faf = $(`<div id="html_ca3f851d1a3b47a3b3676c5f1db09faf" style="width: 100.0%; height: 100.0%;"><a href=https://www.google.com/maps/dir//17319+BROOKHOLLOW+TRACE+CT,+HOUSTON,+77084>Click to Navigate</a></div>`)[0];
            popup_eb6f3ad0e6cf46a48920947b25289b42.setContent(html_ca3f851d1a3b47a3b3676c5f1db09faf);
        

        marker_1c612dc837024409a68401369a52f95a.bindPopup(popup_eb6f3ad0e6cf46a48920947b25289b42)
        ;

        
    
    
            marker_1c612dc837024409a68401369a52f95a.bindTooltip(
                `<div>
                     17319 Brookhollow Trace Ct, Houston, 77084
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f4e998a7bf2e4d2296214eed2ad2a44e = L.marker(
                [29.8470772, -95.7293445],
                {}
            ).addTo(marker_cluster_2aa7bea422e94ebab3ea52d2eea88991);
        
    
            var icon_05867fa59c2c444db0efb9969cf98db3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f4e998a7bf2e4d2296214eed2ad2a44e.setIcon(icon_05867fa59c2c444db0efb9969cf98db3);
        
    
        var popup_d906c720d95941fb941f4394c34a1139 = L.popup({"maxWidth": "100%"});

        
            var html_af46af60c6064456b080886e99278835 = $(`<div id="html_af46af60c6064456b080886e99278835" style="width: 100.0%; height: 100.0%;"><a href=https://www.google.com/maps/dir//5111+DEVON+GREEN+DR,+KATY,+77449>Click to Navigate</a></div>`)[0];
            popup_d906c720d95941fb941f4394c34a1139.setContent(html_af46af60c6064456b080886e99278835);
        

        marker_f4e998a7bf2e4d2296214eed2ad2a44e.bindPopup(popup_d906c720d95941fb941f4394c34a1139)
        ;

        
    
    
            marker_f4e998a7bf2e4d2296214eed2ad2a44e.bindTooltip(
                `<div>
                     5111 Devon Green Dr, Katy, 77449
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6bede14494e04f3eb9aa46dbb3fcf339 = L.marker(
                [29.8149181, -95.7342398],
                {}
            ).addTo(marker_cluster_2aa7bea422e94ebab3ea52d2eea88991);
        
    
            var icon_db7170be2d0445dabe34c1d0c9dfbde0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6bede14494e04f3eb9aa46dbb3fcf339.setIcon(icon_db7170be2d0445dabe34c1d0c9dfbde0);
        
    
        var popup_881e12307f374698ac34cda02c317bed = L.popup({"maxWidth": "100%"});

        
            var html_2d3f6fb7606941b78d4c1b148f57935e = $(`<div id="html_2d3f6fb7606941b78d4c1b148f57935e" style="width: 100.0%; height: 100.0%;"><a href=https://www.google.com/maps/dir//20802+LAVENDERWOOD+DR,+KATY,+77449>Click to Navigate</a></div>`)[0];
            popup_881e12307f374698ac34cda02c317bed.setContent(html_2d3f6fb7606941b78d4c1b148f57935e);
        

        marker_6bede14494e04f3eb9aa46dbb3fcf339.bindPopup(popup_881e12307f374698ac34cda02c317bed)
        ;

        
    
    
            marker_6bede14494e04f3eb9aa46dbb3fcf339.bindTooltip(
                `<div>
                     20802 Lavenderwood Dr, Katy, 77449
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_200a359a58704210b144a191771a9e51 = L.marker(
                [29.7945438, -95.8026111],
                {}
            ).addTo(marker_cluster_2aa7bea422e94ebab3ea52d2eea88991);
        
    
            var icon_0691fbdb9b044b0b9c277366777b28df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_200a359a58704210b144a191771a9e51.setIcon(icon_0691fbdb9b044b0b9c277366777b28df);
        
    
        var popup_070e61e9c80d4b4fa2c1084cf1996412 = L.popup({"maxWidth": "100%"});

        
            var html_4682b826868e4b478eda4ea0ea589995 = $(`<div id="html_4682b826868e4b478eda4ea0ea589995" style="width: 100.0%; height: 100.0%;"><a href=https://www.google.com/maps/dir//5037+NORTH+NELSON+AVE,+KATY,+77493>Click to Navigate</a></div>`)[0];
            popup_070e61e9c80d4b4fa2c1084cf1996412.setContent(html_4682b826868e4b478eda4ea0ea589995);
        

        marker_200a359a58704210b144a191771a9e51.bindPopup(popup_070e61e9c80d4b4fa2c1084cf1996412)
        ;

        
    
    
            marker_200a359a58704210b144a191771a9e51.bindTooltip(
                `<div>
                     5037 North Nelson Ave, Katy, 77493
                 </div>`,
                {"sticky": true}
            );
        
</script>