<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c1ae67b5759449398679e517834c88bb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_c1ae67b5759449398679e517834c88bb" ></div>
        
</body>
<script>    
    
            var map_c1ae67b5759449398679e517834c88bb = L.map(
                "map_c1ae67b5759449398679e517834c88bb",
                {
                    center: [29.828061350000002, -95.73345169999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7a0c5363ba66480bbd6570e8b3442200 = L.tileLayer(
                "https://mt1.google.com/vt/lyrs=m\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "Google", "detectRetina": true, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 8, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c1ae67b5759449398679e517834c88bb);
        
    
            L.control.fullscreen(
                {"forceSeparateButton": false, "position": "topleft", "title": "Full Screen", "titleCancel": "Exit Full Screen"}
            ).addTo(map_c1ae67b5759449398679e517834c88bb);
        
    
            var marker_cluster_7f4ba7166aca420fa43cfb898c9c6230 = L.markerClusterGroup(
                {}
            );
            map_c1ae67b5759449398679e517834c88bb.addLayer(marker_cluster_7f4ba7166aca420fa43cfb898c9c6230);
        
    
            var marker_c394d34f1fe943f69234e7be592bbb89 = L.marker(
                [29.8557063, -95.6676114],
                {}
            ).addTo(marker_cluster_7f4ba7166aca420fa43cfb898c9c6230);
        
    
            var icon_1467c226aa1f48c8ad797381c2c15466 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c394d34f1fe943f69234e7be592bbb89.setIcon(icon_1467c226aa1f48c8ad797381c2c15466);
        
    
        var popup_5b61595f428043e9adf95845bdb6beb0 = L.popup({"maxWidth": "100%"});

        
            var html_910abfa2c2e84c9495fc85f15b82bfd9 = $(`<div id="html_910abfa2c2e84c9495fc85f15b82bfd9" style="width: 100.0%; height: 100.0%;"><a href=https://www.google.com/maps/dir//17319+BROOKHOLLOW+TRACE+CT,+HOUSTON,+77084>Click to Navigate</a></div>`)[0];
            popup_5b61595f428043e9adf95845bdb6beb0.setContent(html_910abfa2c2e84c9495fc85f15b82bfd9);
        

        marker_c394d34f1fe943f69234e7be592bbb89.bindPopup(popup_5b61595f428043e9adf95845bdb6beb0)
        ;

        
    
    
            marker_c394d34f1fe943f69234e7be592bbb89.bindTooltip(
                `<div>
                     17319 Brookhollow Trace Ct, Houston, 77084
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3222142a74b74a1f8cede7b690a9945c = L.marker(
                [29.8470772, -95.7293445],
                {}
            ).addTo(marker_cluster_7f4ba7166aca420fa43cfb898c9c6230);
        
    
            var icon_30503c07d88a4dc99af5c4de14115bba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3222142a74b74a1f8cede7b690a9945c.setIcon(icon_30503c07d88a4dc99af5c4de14115bba);
        
    
        var popup_3e5f3cad80304e45850a06dfc4f8c2ab = L.popup({"maxWidth": "100%"});

        
            var html_1b5955f13fdf4ce6b0dffc4228cd7a9a = $(`<div id="html_1b5955f13fdf4ce6b0dffc4228cd7a9a" style="width: 100.0%; height: 100.0%;"><a href=https://www.google.com/maps/dir//5111+DEVON+GREEN+DR,+KATY,+77449>Click to Navigate</a></div>`)[0];
            popup_3e5f3cad80304e45850a06dfc4f8c2ab.setContent(html_1b5955f13fdf4ce6b0dffc4228cd7a9a);
        

        marker_3222142a74b74a1f8cede7b690a9945c.bindPopup(popup_3e5f3cad80304e45850a06dfc4f8c2ab)
        ;

        
    
    
            marker_3222142a74b74a1f8cede7b690a9945c.bindTooltip(
                `<div>
                     5111 Devon Green Dr, Katy, 77449
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_670f1a4a59f64b819399bbab9baad455 = L.marker(
                [29.8149181, -95.7342398],
                {}
            ).addTo(marker_cluster_7f4ba7166aca420fa43cfb898c9c6230);
        
    
            var icon_be3a826b1d014a8fb41632aa97b164a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_670f1a4a59f64b819399bbab9baad455.setIcon(icon_be3a826b1d014a8fb41632aa97b164a3);
        
    
        var popup_4fb2c3fa0db3442a88d139eed31c06db = L.popup({"maxWidth": "100%"});

        
            var html_ee005c2b9f0140c5b139b312d42d18a9 = $(`<div id="html_ee005c2b9f0140c5b139b312d42d18a9" style="width: 100.0%; height: 100.0%;"><a href=https://www.google.com/maps/dir//20802+LAVENDERWOOD+DR,+KATY,+77449>Click to Navigate</a></div>`)[0];
            popup_4fb2c3fa0db3442a88d139eed31c06db.setContent(html_ee005c2b9f0140c5b139b312d42d18a9);
        

        marker_670f1a4a59f64b819399bbab9baad455.bindPopup(popup_4fb2c3fa0db3442a88d139eed31c06db)
        ;

        
    
    
            marker_670f1a4a59f64b819399bbab9baad455.bindTooltip(
                `<div>
                     20802 Lavenderwood Dr, Katy, 77449
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_24925c5d4def40948be7a0a02e2a1bc6 = L.marker(
                [29.7945438, -95.8026111],
                {}
            ).addTo(marker_cluster_7f4ba7166aca420fa43cfb898c9c6230);
        
    
            var icon_aebc77b12b7f4f8a81af403ae1d08024 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_24925c5d4def40948be7a0a02e2a1bc6.setIcon(icon_aebc77b12b7f4f8a81af403ae1d08024);
        
    
        var popup_932d42da43a645dba7f037af4505d533 = L.popup({"maxWidth": "100%"});

        
            var html_4f18e09cca244fbfb52b91c592515ce4 = $(`<div id="html_4f18e09cca244fbfb52b91c592515ce4" style="width: 100.0%; height: 100.0%;"><a href=https://www.google.com/maps/dir//5037+NORTH+NELSON+AVE,+KATY,+77493>Click to Navigate</a></div>`)[0];
            popup_932d42da43a645dba7f037af4505d533.setContent(html_4f18e09cca244fbfb52b91c592515ce4);
        

        marker_24925c5d4def40948be7a0a02e2a1bc6.bindPopup(popup_932d42da43a645dba7f037af4505d533)
        ;

        
    
    
            marker_24925c5d4def40948be7a0a02e2a1bc6.bindTooltip(
                `<div>
                     5037 North Nelson Ave, Katy, 77493
                 </div>`,
                {"sticky": true}
            );
        
</script>